---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<h1>Últimas Noticias</h1>
			<section class="latest_news">
				<div class="latest">
					<a href="/blog">
						<img src="https://media.tycsports.com/files/2024/01/20/666405/alexis-mac-allister-valentin-barco_862x485.webp" alt="Últimas noticias">
						<h2>El curioso consejo de Mac Allister a Barco tras firmar con el Brighton</h2>
						<p>El mediocampista campeón el mundo le deseó "muchos éxitos" al Colo tras confirmarse su pase al club británico. Los detalles del ida y vuelta de los jugadores en redes sociales.</p>
						<hr>
						<span><time datetime="2024-01-22">22/01/2024</time></span>
						
					</a>
					<!-- <a href="/blog">Ver más →</a> -->
				</div>
				<div class="second-latest">
					<a href="/blog">
						<img src="https://media.tycsports.com/files/2024/01/20/666449/facundo-farias_862x485.webp" alt="artículo">
						<h3>Lo lamenta Inter Miami: se confirmó la grave lesión de Facundo Farías</h3>
						<hr>
						<time datetime=""></time>
						<span><time datetime="2024-01-21">21/01/2024</time></span>
					</a>
				</div>
				<div class="third-latest">
					<a href="/blog">
						<img src="https://media.tycsports.com/files/2024/01/19/666074/boca-talleres_862x485.webp?v=3" alt="artículo">
						<h3>Boca vs. Talleres, por un amistoso</h3>
						<hr>
						<time datetime=""></time>
						<span><time datetime="2024-01-19">19/01/2024</time></span>
					</a>
				</div>
			</section>
			<p>
				Welcome to the official <a href="https://astro.build/">Astro</a> blog starter template. This
				template serves as a lightweight, minimally-styled starting point for anyone looking to build
				a personal website, blog, or portfolio with Astro.
			</p>
			<p>
				This template comes with a few integrations already configured in your
				<code>astro.config.mjs</code> file. You can customize your setup with
				<a href="https://astro.build/integrations">Astro Integrations</a> to add tools like Tailwind,
				React, or Vue to your project.
			</p>
			<p>Here are a few ideas on how to get started with the template:</p>
			<ul>
				<li>Edit this page in <code>src/pages/index.astro</code></li>
				<li>Edit the site header items in <code>src/components/Header.astro</code></li>
				<li>Add your name to the footer in <code>src/components/Footer.astro</code></li>
				<li>Check out the included blog posts in <code>src/pages/blog/</code></li>
				<li>Customize the blog post page layout in <code>src/layouts/BlogPost.astro</code></li>
			</ul>
			<p>
				Have fun! If you get stuck, remember to <a href="https://docs.astro.build/"
					>read the docs
				</a> or <a href="https://astro.build/chat">join us on Discord</a> to ask questions.
			</p>
			<p>
				Looking for a blog template with a bit more personality? Check out <a
					href="https://github.com/Charca/astro-blog-template"
					>astro-blog-template
				</a> by <a href="https://twitter.com/Charca">Maxi Ferreira</a>.
			</p>
		</main>
		<Footer />
	</body>
</html>

<style>
	.latest_news {
		margin: 1rem 0;
		display: grid;
		grid-template-columns: .7fr .3fr;
		grid-template-rows: 1fr 1fr;
		column-gap: 1rem;
		row-gap: .5rem;
	}

	.latest {
		grid-area: 1 / 1 / 3 / 2;
		img {
			transition: opacity 200ms;
		}
		h2 {
			max-width: 95%;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			font-size: 1.2em;
			text-decoration: underline transparent;
    		transition: text-decoration 300ms ease;
			/* text-wrap: balance; */
		}
		p {
			max-width: 95%;
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			color: #717171;
			line-height: 1.45em;
			font-size: .75em;
			margin-bottom: .2em;
		}
		a {
			text-decoration: none;
			&:hover{
				img {
					opacity: .8;
				}
				h2 {
					text-decoration-color: #2335ffb0
				}
			}
		}
		hr {
			margin: .25em 0 0 0;
		}
		span {
			font-style: italic;
			color: #8f8f8f;
			font-size: .7em;
		}
	}
	.second-latest {
		grid-area: 1 / 2 / 2 / 3;
	}
	.third-latest {
		grid-area: 2 / 2 / 3 / 3;
	}

	.second-latest, .third-latest {
		img {
			transition: opacity 250ms;
		}
		a {
			text-decoration: none;
			&:hover{
				img {
				opacity: .8;
				}
				h3 {
					text-decoration-color: #2335ffb0
				}
			}
		}
		h3 {
			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			overflow: hidden;
			font-size: 1em;
			font-weight: 600;
			color: #2d2f33;
			text-decoration: underline transparent;
    		transition: text-decoration 200ms ease;
		}
		hr {
			margin: .25em 0 0 0;
		}
		span {
			font-style: italic;
			color: #8f8f8f;
			font-size: .6em;
		}
	}

	@media (width <= 600px) {
		.latest_news {
			grid-template-columns: 1fr 1fr;
			grid-template-rows: .7fr .3fr;
			column-gap: .75rem;
		}
		.latest {
			grid-area: 1 / 1 / 2 / 3;
		}
		.second-latest {

			grid-area: 2 / 1 / 3 / 2;
		}
		.third-latest {
			grid-area: 2 / 2 / 3 / 3;
		}
	}
</style>