---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FeaturedGrid from '../components/FeaturedGrid.astro';
import Aside from '../components/Aside.astro'
import ArticlesContainer from '../components/ArticlesContainer.astro'
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
---

<!doctype html>
<html lang="es">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<FeaturedGrid />
			<section class="content">
				<ArticlesContainer />
				<Aside />
			</section>
			
		</main>
		<Footer />
	</body>
</html>

<style>
	.content {
		margin: 2rem 0;
		display: grid;
		grid-template-columns: 1fr .4fr;
	}
	@media screen and (width <= 768px) {
		.content {
			grid-template-columns: 1fr;
		}
	}
</style>